<div class="relative h-screen w-full">
    <img class="object-cover w-full h-full" src="/src/images/bg.jpg" alt="">

    <!-- Añadir un overlay con backdrop-blur -->
    <div class="absolute inset-0 bg-black bg-opacity-30 backdrop-blur-sm flex justify-center items-center">
    <h1 class="text-ast-global-color-5 text-4xl p-5 leading-tight md:text-6xl tracking-wide font-extrabold">Transformamos tus ideas en sitios web excepcionales</h1>
    </div>
</div>